<h1>All Videos</h1>
<ul class="video_list list-unstyled list-inline">
  <% @vidyas.each do |video| %>
    <li class="">
      <a href="<% video_path video %>">
        <img
          class="media"
          src="http://img.youtube.com/vi/<%= video.url %>/default.jpg"
          alt="<%= video.name %>"
          title="<%= video.name %>"/><br/>
        <strong><%= video.name %></strong>
      </a>
    </li>
  <%end %>
</ul>
