<div class="jumbotron">
  <h1>Youtube With Me</h1>
  <p class="lead">Collaboratively mash a pot of youtube videos to make magic.</p>
  <p>
    <a class="btn btn-lg btn-success" href="/videos/new">Submit A Video!</a>
  </p>
</div>
