<!DOCTYPE html>
<html>
<head>
  <title>Ozark Web Theatre</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation">
            <a href="/">Home</a>
          </li>
          <li role="presentation">
            <a href="/videos">Videos</a>
          </li>
          <li role="presentation">
            <a href="/videos/new">Add A Video</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">We Tube</h3>
    </div>
    <div>
      <%= yield %>
    </div>
    <footer class="footer">
    </footer>
  </div>



</body>
</html>
